.gsc-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius-md);
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  text-transform: capitalize;
  font-feature-settings: 'liga' off, 'clig' off;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow-sm);
}

.gsc-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.gsc-button:active:not(:disabled) {
  transform: scale(0.98);
}

.gsc-button--primary {
  background-color: var(--color-primary-500);
  color: white;
  /*box-shadow: var(--shadow-md);*/
}

.gsc-button--primary:hover:not(:disabled) {
  background-color: var(--color-primary-600);
  box-shadow: 0px 4px 8px 0px rgba(115, 103, 240, 0.4);
}

.gsc-button--secondary {
  background-color: var(--color-neutral-500);
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(128, 131, 144, 0.3);
}

.gsc-button--secondary:hover:not(:disabled) {
  background-color: var(--color-neutral-600);
  box-shadow: 0px 4px 8px 0px rgba(128, 131, 144, 0.4);
}

.gsc-button--success {
  background-color: var(--color-success-500);
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(16, 185, 129, 0.3);
}

.gsc-button--success:hover:not(:disabled) {
  background-color: var(--color-success-600);
  box-shadow: 0px 4px 8px 0px rgba(16, 185, 129, 0.4);
}

.gsc-button--warning {
  background-color: var(--color-warning-500);
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(245, 158, 11, 0.3);
}

.gsc-button--warning:hover:not(:disabled) {
  background-color: var(--color-warning-600);
  box-shadow: 0px 4px 8px 0px rgba(245, 158, 11, 0.4);
}

.gsc-button--error {
  background-color: var(--color-error-500);
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(255, 76, 81, 0.3);
}

.gsc-button--error:hover:not(:disabled) {
  background-color: var(--color-error-600);
  box-shadow: 0px 4px 8px 0px rgba(255, 76, 81, 0.4);
}

.gsc-button--info {
  background-color: var(--color-info-500);
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 186, 209, 0.3);
}

.gsc-button--info:hover:not(:disabled) {
  background-color: var(--color-info-600);
  box-shadow: 0px 4px 8px 0px rgba(0, 186, 209, 0.4);
}

.gsc-button--small {
  padding: 6px 14px;
  font-size: 14px;
  line-height: 20px;
}

.gsc-button--medium {
  padding: 8px 17px;
  font-size: 17px;
  line-height: 22px;
}

.gsc-button--large {
  padding: 11px 28px;
  font-size: 17px;
  line-height: 28px;
  border-radius: var(--border-radius-lg);
}
